@charset "UTF-8";
/*このように @media screen and (width: 767px) { } を書かなくても、
PC用のcssを書きながらスマホ用の表示を書き足すことができます！ */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 172, 40);
}

section {
  margin: 0 10px 20px 10px;
  display: none;
}

.titlebox {
  text-align: center;
  margin-top: 40px;
}

.title {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
header img {
  padding: 0%;
  margin: 0;
  max-height: 50px;
  min-height: 20px;
  min-width: 40px;
  border: none;
}
header .headerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .headerbox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15%;
  font-size: 25px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  header .headerbox ul {
    gap: 5%;
    font-size: 15px;
  }
}
header .headerbox ul li {
  margin-top: 0;
  padding-top: 0;
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0 20px 0 20px;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
}
header .headerbox ul .header-pic {
  border: none;
}

.homebg {
  padding: 15px;
  background-color: rgb(255, 172, 40);
}

.Aboutbg {
  padding: 15px;
  background-color: rgb(255, 172, 40);
}

.firstview {
  position: relative;
  margin: 0;
  padding-top: 80px;
}
.firstview img {
  min-height: 200px;
  min-width: 280px;
}
.firstview .fv-textbox {
  position: absolute;
  margin: 0;
  bottom: 26px;
  left: 26px;
  width: 70%;
  max-width: 700px;
  background: url(../img/sp/bg_fv.png) center center no-repeat;
  background-size: 100% 100%;
  padding: 20px 10px 20px 10px;
}
@media screen and (max-width: 767px) {
  .firstview .fv-textbox {
    padding: 10px;
    bottom: 20px;
    left: 20px;
    width: 90%;
  }
}
.firstview .fv-textbox h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .firstview .fv-textbox h1 {
    font-size: 15px;
  }
}
.firstview .fv-textbox h1.name-sub {
  font-size: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .firstview .fv-textbox h1.name-sub {
    font-size: 15px;
  }
}
.firstview .fv-textbox p {
  margin: 0;
  padding: 0 0 0 20px;
}
@media screen and (max-width: 767px) {
  .firstview .fv-textbox p {
    font-size: 12px;
  }
}

.info-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.info-box h1 {
  display: block;
}

table.info {
  background-color: #ffffff;
  font-size: 15px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  border-collapse: collapse;
}
table.info td {
  border: 2px solid black;
  padding: 5px;
}
table.info td.rabel {
  color: red;
  font-family: "Josefin Sans", serif;
  font-weight: bold;
}
table.info td.rabel.noti {
  color: red;
}
table.info td.rabel.newr {
  color: blue;
}
table.info td.rabel.remi {
  color: blue;
}
table.info td a {
  color: blue;
  font-weight: 600;
}

.Discography {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin: 20px;
  padding: 20px 20px 10px 20px;
  text-align: center;
}
.Discography .mytrackytbox {
  padding: 0;
  margin: 0;
}
.Discography .title {
  margin: 0;
}
.Discography h2 {
  padding: 50px 0 20px 0;
  font-family: "Josefin Sans", serif;
  font-size: 25px;
}
.Discography .mytrack {
  color: red;
}
.Discography .mytrackSC {
  width: 100%;
}
.Discography .spotify {
  margin-top: 40px;
}
.Discography .remix {
  color: blue;
}

footer {
  display: none;
}

.snsicon {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8%;
}
@media screen and (max-width: 767px) {
  .snsicon {
    gap: 5%;
    padding: 10px 0 10px 0;
  }
}
.snsicon a {
  text-align: center;
}
.snsicon img {
  height: 35px;
}
@media screen and (max-width: 767px) {
  .snsicon img {
    height: 20px;
  }
}
.snsicon p {
  font-family: "Josefin Sans", serif;
  font-size: 15px;
  padding-top: 10px;
}
@media screen and (max-width: 767px) {
  .snsicon p {
    font-size: 10px;
  }
}

.aboutbox {
  padding-top: 100px;
  margin: 0px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .aboutbox {
    display: block;
    text-align: center;
  }
}
.aboutbox .about-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutbox a {
  width: 60%;
  max-height: 500px;
  margin: 40px 15px 0 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 15px;
  min-width: 200px;
}
.aboutbox .about-text {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

.about-picture {
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid blue;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 767px) {
  .about-picture {
    margin-bottom: 20px;
  }
}

.imgcontact {
  text-align: center;
  height: 100%;
}